<% if (enabled){ %>
    <div class="no-data">
        <h1 class="text-center mb-0">
            <span class="fa fa-inbox"></span>
        </h1>
        <h4 class="text-center">No data</h4>
    </div>
    <%  } %>